[Desktop Entry]
Version=1.0
Type=Application

Name=Lada Realtime
Comment=Real-time mosaic removal during playback. A fork of Lada.
Categories=AudioVideo;Adult;

Icon=io.github.ladaapp.lada
Exec=lada
Terminal=false